<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Tile Lounge&nbsp;<ion-icon name="close" color="danger"></ion-icon></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text
          ><strong>Add tiles to lounge</strong></ion-text>
        <br />
        <ion-text>12/17/2019,9:00:00 AM-5:00:00 PM</ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Paint Lounge&nbsp;<ion-icon name="checkmark" color="success"></ion-icon></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text
          ><strong>Paint walls and ceiling of lounge</strong></ion-text>
        <br />
        <ion-text>12/18/2019,8:15:00 AM-4:00:00 PM</ion-text>
      </ion-card-content>
    </ion-card>
    <!-- <ion-item *ngFor="let item of items; let i=index">
      <ion-icon name="checkmark" color="success"></ion-icon>
      <ion-icon name="close" color="danger"></ion-icon>
      &nbsp;Job Name&nbsp;{{i}}
      <div class="item-note" slot="end">Job Description</div>
    </ion-item> -->
  </ion-list>
</ion-content>
