<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items; let i=index">
      <ion-icon name="checkmark" color="success"></ion-icon>
      <ion-icon name="close" color="danger"></ion-icon>
      &nbsp;Job Name&nbsp;{{i}}
      <div class="item-note" slot="end">Job Description</div>
    </ion-item>
  </ion-list>
</ion-content>
