<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/list']" id="#notification-button">
        <ion-icon name="notifications">
          
        </ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-card>
      <ion-card-header>Electricians</ion-card-header>
        <ion-card-content>
          <ion-content scrollX="true" scrollY="false" class="">
            <ul class="inline-list">
              <li *ngFor="let elect of electricians" class="scroll-item">
                <div class="item-with-text" [routerLink]="['/worker', elect.id]">
                  <ion-avatar>
                    <img src="../../assets/imgs/morty.jpg"/>
                  </ion-avatar>
                  <ion-label class="name">{{elect.name}}</ion-label>
                  <ion-label class="rating"><ion-icon name="star"></ion-icon>{{elect.rating}}</ion-label>
                </div>
              </li>
            </ul>
          </ion-content>
        </ion-card-content>
      </ion-card>

    <ion-card>
        <ion-card-header>Plumbers</ion-card-header>
          <ion-card-content>
            <ion-content scrollX="true" scrollY="false" class="">
              <ul class="inline-list">
                <li *ngFor="let plumb of plumbers" class="scroll-item">
                  <div class="item-with-text" [routerLink]="['/worker', plumb.id]">
                    <ion-avatar>
                      <img src="../../assets/imgs/morty.jpg"/>
                    </ion-avatar>
                    <ion-label class="name">{{plumb.name}}</ion-label>
                    <ion-label class="rating"><ion-icon name="star"></ion-icon>{{plumb.rating}}</ion-label>
                  </div>
                </li>
              </ul>
            </ion-content>
          </ion-card-content>
        </ion-card>

      <ion-card>
          <ion-card-header>Tilers</ion-card-header>
            <ion-card-content>
              <ion-content scrollX="true" scrollY="false" class="">
                <ul class="inline-list">
                  <li *ngFor="let tiler of tilers" class="scroll-item">
                    <div class="item-with-text" [routerLink]="['/worker', tiler.id]">
                      <ion-avatar>
                        <img src="../../assets/imgs/morty.jpg"/>
                      </ion-avatar>
                      <ion-label class="name">{{tiler.name}}</ion-label>
                      <ion-label class="rating"><ion-icon name="star"></ion-icon>{{tiler.rating}}</ion-label>
                    </div>
                  </li>
                </ul>
              </ion-content>
            </ion-card-content>
          </ion-card>
        
      <ion-card>
          <ion-card-header>Builders</ion-card-header>
            <ion-card-content>
              <ion-content scrollX="true" scrollY="false" class="">
                <ul class="inline-list">
                  <li *ngFor="let build of builders" class="scroll-item">
                    <div class="item-with-text" [routerLink]="['/worker', build.id]">
                      <ion-avatar>
                        <img src="../../assets/imgs/morty.jpg"/>
                      </ion-avatar>
                      <ion-label class="name">{{build.name}}</ion-label>
                      <ion-label class="rating"><ion-icon name="star"></ion-icon>{{build.rating}}</ion-label>
                    </div>
                  </li>
                </ul>
              </ion-content>
            </ion-card-content>
          </ion-card>
    
        <ion-card>
            <ion-card-header>Painters</ion-card-header>
              <ion-card-content>
                <ion-content scrollX="true" scrollY="false" class="">
                  <ul class="inline-list">
                    <li *ngFor="let paint of painters" class="scroll-item">
                      <div class="item-with-text" [routerLink]="['/worker', paint.id]">
                        <ion-avatar>
                          <img src="../../assets/imgs/morty.jpg"/>
                        </ion-avatar>
                        <ion-label class="name">{{paint.name}}</ion-label>
                        <ion-label class="rating"><ion-icon name="star"></ion-icon>{{paint.rating}}</ion-label>
                      </div>
                    </li>
                  </ul>
                </ion-content>
              </ion-card-content>
            </ion-card>
    
          <ion-card>
              <ion-card-header>Handymen</ion-card-header>
                <ion-card-content>
                  <ion-content scrollX="true" scrollY="false" class="">
                    <ul class="inline-list">
                      <li *ngFor="let handy of handymen" class="scroll-item">
                        <div class="item-with-text" [routerLink]="['/worker', handy.id]">
                          <ion-avatar>
                            <img src="../../assets/imgs/morty.jpg"/>
                          </ion-avatar>
                          <ion-label class="name">{{handy.name}}</ion-label>
                          <ion-label class="rating"><ion-icon name="star"></ion-icon>{{handy.rating}}</ion-label>
                        </div>
                      </li>
                    </ul>
                  </ion-content>
                </ion-card-content>
              </ion-card>

</ion-content>
