<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/list']">
        <ion-icon name="notifications"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->
    <ion-card *ngFor="let category of this.dataGenerator.categories">
      <ion-card-header>{{category}}</ion-card-header>
        <ion-card-content>
          <ion-content scrollX="true" scrollY="false" class="">
            <ul class="inline-list">
              <li *ngFor="let worker of workers" class="scroll-item">
                <div class="item-with-text" [routerLink]="['/worker', worker.id]">
                  <!-- <ion-card-content> -->
                  <ion-avatar>
                    <img src="../../assets/imgs/morty.jpg"/>
                  </ion-avatar>
                  <ion-label class="name">{{worker.name}}</ion-label>
                  <ion-label class="rating"><ion-icon name="star"></ion-icon>{{worker.rating}}</ion-label>
                <!-- </ion-card-content> -->
                </div>
              </li>
            </ul>
          </ion-content>
        </ion-card-content>
      </ion-card>
        
</ion-content>
